extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/menu
include ../../mixins/historyprint
include ../../mixins/alert
block main
  +alert-error(5000)
  .container.mb-3
    .row
      .col-12
        +box-head("")

    .row.content
      .col-3
        +menu(user)
      .col-9
        +historyprint(user)