mixin menu(user)
        .menu
            .menu-1
                img(src="/img/avt.png", alt='User Avatar', class="user-avatar")
                .menu-config
                    h5=user.fullName
            .menu-2
                .menu-2-config
                    i.fa-regular.fa-user
                    h6 Tài khoản của tôi
                .menu-2-option
                    a(href='/user/info',class="option", id="info") Hồ sơ
                    a(href='/user/historyprint',class="option", id="historyprint") Lịch sử in