mixin printer-item(item)
    a.list-group-item.list-group-item-action.active(href="#")
        .d-flex.w-100.justify-content-between
            h5.mb-1 List group item heading
            small 3 days ago
        p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        small Donec id elit non mi porta.