doctype html
html
  head
    title Uploaded File
  body
    h1 File Uploaded Successfully
    if file
      img(src=`/uploads/${file.filename}`, alt='Uploaded File')
      p File Name: #{file.originalname}
      p File Size: #{file.size} bytes
    else
      p No file uploaded.
  <a href="../" class="btn btn-primary">Quay lại</a>
  <a href="print/modify" class="btn btn-primary">Xác nhận</a>
    

    