mixin menu(user)
        .menu
            .menu-1
                img(src=user.avatar?user.avatar:settingGeneral.logo, alt='User Avatar', class="user-avatar")
                .menu-config
                    h5=user.fullName
                    a(href='#',class="option") Sửa hồ sơ
            .menu-2
                .menu-2-config
                    i.fa-regular.fa-user
                    h6 Tài khoản của tôi
                .menu-2-option
                    a(href='/user/info',class="option", id="info") Hồ sơ
                    a(href='/user/purchase',class="option", id="purchase") Đơn mua
                    a(href='/user/changepassword',class="option", id="changepassword") Đổi mật khẩu
                
        script.
           var script = document.createElement('script');
            script.src = "https://kit.fontawesome.com/92606ce77f.js";
            script.setAttribute("crossorigin", "anonymous");
            document.head.appendChild(script);

            function toggleActive(element) {
              var options = document.querySelectorAll('.option');
              options.forEach(function (opt) {
                opt.classList.remove('active');
              });
              element.classList.add('active');
              localStorage.setItem('activeOption', element.id);
            }
            document.addEventListener('DOMContentLoaded', function () {
                const options = document.querySelectorAll('.option');
                let activeOptionId = localStorage.getItem('activeOption');
                if (!activeOptionId) {
                    activeOptionId = "info";
                    localStorage.setItem('activeOption', activeOptionId);
                }
                function handleOptionClick(opt) {
                    var href = opt.getAttribute('href');
                    toggleActive(opt);
                    if (href) {
                        window.location.href = href;
                    }
                }
                options.forEach(function (opt) {
                    opt.addEventListener("click", function(e) {
                    e.preventDefault();
                    var href = opt.getAttribute('href');
                     toggleActive(opt);
                    if (href) {
                    window.location.href = href;
                    }
                    });
                });

            });