footer
.footer(style="background: #022991; border-top: 1px solid #DDD" class="py-5")
  .container 
    .row.d-flex.flex-row.justify-content-start
      .col-3
        .inner-logo.d-flex.flex-row.align-items-center.justify-content-start
          img(src="/img/logobktoi.png")
          h3(class="mx-0 my-auto align-items-center fs-1" style="color: #ffffff") SPSS
        p.mt-2(style="color: white; font-size: 14px") Smart Printing Service System
      .col
        h7(style="color: white; font-weight: bold") DANH MỤC
        p.mt-2(style="color: white; font-size: 14px") In tài liệu
        p(style="color: white; font-size: 14px") Lịch sử in
        p(style="color: white; font-size: 14px") Mua trang in
      .col-3
        h7(style="color: white; font-weight: bold") VỀ CHÚNG TÔI
        p.mt-2(style="color: white; font-size: 14px") Hệ thống in thông minh xây dựng bởi giảng viên và nhóm sinh viên HCMUT
      .col-4
        h7(style="color: white; font-weight: bold") LIÊN HỆ
        <p class="mt-2" style="color: white; font-size: 14px">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill icon" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6">
            </path>
          </svg> Cơ sở Lý Thường Kiệt: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM
        </p>
        <p style="color: white; font-size: 14px">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill icon" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6">
            </path>
          </svg>Cơ sở Dĩ An: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương
        </p>
        <p style="color: white; font-size: 14px"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z">
            </path>
          </svg> spss2023@gmail.com
        </p>

.footer(style="background: #022991; border-top: 1px solid #FFFFFF; max-height: 100px" class="p-2")
  .container 
    .row.d-flex.flex-row.justify-content-start 
      .col-2.my-2
        h6(style="color: white") ©2023 SPSS