//- include ../mixins/sub-menu.pug

header
.header 
  .container
    .row.justify-content-between
      .col-2
        .inner-logo.d-flex.flex-row.align-items-center
          a(href="/")
            img(src="/img/logobksang.png")
          h3(class="mx-0 my-auto align-items-center fs-1")
            a(href="/" class="text-decoration-none" style="color: #022991") SPSS
      
      div(class="col-5 row justify-content-between" id="navbar")
        ul(style="list-style: none; margin-left: -20px;" class="col-12 d-flex flex-row justify-content-start align-items-center align-self-center text-decoration-none mb-0")
            li(class="px-2")
                a(href="/" class="text-decoration-none" style="color: black;") Trang chủ
            li(class="px-2")
                a(href="/upfile" class="text-decoration-none" style="color: black;") In tài liệu
            li(class="px-2")
                a(href="/user/historyprint" class="text-decoration-none" style="color: black;") Lịch sử in
            li(class="px-2")
                a(href="/buy" class="text-decoration-none" style="color: black;") Mua trang in


      .col-4.d-flex.justify-content-end.align-items-center
        if(user)
          a(href="/user/info" class="px-2 text-decoration-none d-flex flex-column align-items-center p-0 justifi-content-center mx-2") 
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
              path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
              path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
            p(class="m-0") Hồ sơ
          a(href="/user/logout" class="px-2 text-decoration-none d-flex flex-column align-items-center p-0 justifi-content-center mx-2")
            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16")
              path(fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z")
              path(fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z")
            p(class="m-0") Đăng xuất
        else 
          a(href="/user/login" class="px-2 py-2 text-decoration-none d-flex flex-column align-items-center p-0 justifi-content-center mx-2") Đăng nhập