<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập từ khóa</label>
            <input type="text" name="location" class="form-control" id="search-input">
            <div id="searchHelp" class="form-text">Chọn vị trí muốn lấy tài liệu in</div>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>